@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import 'src/_variables';

#map {
  height: 500px;
}
#gallery{
  background: $gray-lighter;
  width: 100%;
  height: 100%;
}
#time-chart{
  width: 100%;
}

:host /deep/ #time-chart svg {
  overflow-x: overlay;
}

.row-eq-height {
  @include flexbox();
}