<div id="media-component" class="container">
  <div class="row">
    <div class="page-header">
      <h1>VGI4HWM Dashboard Components <small class="text-nowrap">Foto- und Videoaufnahmen</small></h1>
    </div>
  </div>
  <div class="row" *ngIf="errorMessage">
    <div class="alert alert-danger">{{errorMessage}}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="category-selection" class="form-group">
        <label *ngFor="let category of categories" class="checkbox-inline">
          <input type="checkbox" [(ngModel)]="category.active" (change)="updateCategoryFilter(category, $event)" [value]="category.id"/> {{category.longname}}
          <i [style.background]="category.color" class="indicator"></i>
        </label>
      </div>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-xs-8">
      <div id="map"></div>
    </div>
    <div class="col-xs-4">
      <div id="gallery" class="well">
        <ul class="list-inline">
          <ng-template ngFor let-element [ngForOf]="selection">
            <li class="col-xs-12 col-sm-6 col-lg-4" *ngFor="let image of element.images">
              <img [src]="image.thumbnail_url" class="img-responsive" [attr.data-image-url]="image.url" [attr.title]="image.title" [attr.alt]="image.caption">
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div (window:resize)="onResize($event)" id="time-chart" class="dc-chart">
        <h4>Aufnahmen pro Tag <a style="display:none;" class="btn btn-default btn-xs reset pull-right" (click)="resetTimeChart()">Auswahl zurücksetzen</a></h4>
      </div>
    </div>
  </div>
</div>